{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="text-align: center;">
    <img src="{% static 'images/hd.jpg' %}" alt="hyodong's face" width="200px">
</div>

<h1 style="font-size:300px; margin-top:0px; margin-bottom: 0px;" class="joke">404<br> Not Found</h1>
<p style="font-size:100px; text-align: center;">뻥이야</p>
<h1 style="font-size:40px;" class="contents">2025 멋쟁이사자처럼 13기 아기사자 조효동</h1>
<div>
    <h2 class='second-title' style="margin-bottom: 0px;">🦁첫 번째 비밀</h2>
    <p class="second-p"> 조효동은 사실 <span><strong>눈썹문신</strong></span>을 했다.<br>
        첫 번째 눈썹문신은 2019년 한창 공부해야 할 고3의 나이에 눈썹문신을 했다.<br>두 번째 눈썹문신은 2021년 재수가 끝나고 새내기때 눈썹문신을 또 했다<br>
        세 번재 눈썹문신은 2024년 군대를 갔다오고 복학하기 전 했다.<br>다음 눈썹문신은 또 언제할까....<br> 자세히 보면 어차피 티나지만.. 부끄러우니까 자세히 보지 말고 세션 때 보여달라면
        보여드립니다....</p>
</div>
<div style="text-align: center;">
    <h2 class='second-title' style="margin-bottom: 0px;">🦁두 번째 비밀</h2>
    <p class="second-p">조효동은 사실 <span><strong>술 먹고 손가락</strong></span>이 부러진 적이 있다.<br>때는 2022년 군휴학을 하고 군대가기 40일 전,, 4월
        1일 만우절 날
        <br>술을 먹고 눈을 떠보니 손이 도라에몽처럼 퉁퉁 부어있었다.<br>기억을 더듬어보니,,,술먹고 계단에서 넘어졌던 것 같다<br>병원에 갔는데 새끼손가락이 와장창ㅋㅋ<br>
        그래서 수술을 했고 5월9일 입대를 해야했던 나는 재활의 이슈로 군대를 미루고 7월4일에 갔다..<br>2024년 1월3일에 전역을해서 예비군이 남들보다 1년 늦다;;<br>술먹고 손 부러진 것도
        부끄러우니 비밀
    </p>
</div>
<div style="text-align: end;">
    <h2 class='second-title' style="margin-bottom: 0px;">🦁세 번째 비밀</h2>
    <p class="second-p">2주차 수업을 복습하는데 <span><strong>3시간</strong></span>이나 걸렸다<br>
        다음날 과제를 하려 했는데 복습한 게 기억이 안나서 과제를 하는 데 아마 4시간 째..?<br>나는 기억력이 안 좋은 게 분명하다.<br> 프론트 너무 어렵다. 프론트사람들 대단하다..프론트
        화이팅...
        <br>난 프론트에 재능이 없는 것 같아<br>열심히 할게요
    </p>
</div>
<div class="center-image">
    <img src="{% static 'images/hd2.jpg' %}" alt="hyodong's face" width="200px">
</div>
<h1 class="img-bottom-text">끝</h1>
{% endblock %}